<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Nixonex E-Commerce Test Suite">

<listeners>
		<listener class-name="com.nixonex.extentreportlistener.ExtentTestListener" />
	</listeners>
	
    <test name="Automation Tests">
        <classes>
            <class name="com.nixonex.tests.RegisterTest"/>
            <class name="com.nixonex.tests.LoginTest"/>
            <class name="com.nixonex.tests.ProductSearchTest"/>
            <class name="com.nixonex.tests.AddToCartTest"/>
            <class name="com.nixonex.tests.CheckOutTest"/>
            <class name="com.nixonex.tests.EndToEndTest"/>
        </classes>
    </test>
</suite>